*{
  font-family: 'Source Sans Pro', sans-serif;
  }
header{
  display: flex;
  }
div.my{
  flex: 0 0 auto;
  }
div.logo{
  align-self: center;
  margin-right: auto;
  }
img.udacity{
  height: 80px;
  width: auto;
  }
div.name{
  text-align: right;
  color: #2d3c49;
  }
div.dev{
  font-size: 60px;
  }
div.position{
  font-size: 20px;
  }
div.bar{
  width: 100%;
  height: 4px;
  background-color: #2d3c49;
  }
img.meta{
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
div.work{
  color: #7d97ad;
  font-size: 30px;
  font-weight: lighter;
  }
main{
/*  display: inline-block; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%

  }
article{
  width: 100%
  color: #2d3c49;
  font-weight: lighter;
  text-align: center;
  flex: 1 1 auto;
  }
article.appify{  }
img.appify{
  max-width: 100%;
  }
p.appify{  }
article.sunflower{  }
img.sunflower{
  max-width: 100%;
  }
p.sunflower{  }
article.bokeh{  }
img.bokeh{
  max-width: 100%;
  }
p.bokeh{  }
